<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
</header>
<div class="blog">
    <p>Билеты</p>
    <form th:action="@{/}" method="GET"><br>
        <table>
            <thead>
            <th>ID</th>
            <th>Место</th>
            <th>ФИО</th>
            <th>Станция отправления</th>
            <th>Станция прибытия</th>
            <th>Стоимость билета</th>
            <th>Стоимость плацкарты</th>
            <th>Использован ли</th>
            </thead>
            <tr th:each="ticket: ${list}">
                <td th:text="${ticket.getId}"></td>
                <td th:text="${ticket.getPlace}"></td>
                <td th:text="${ticket.getName}"></td>
                <td th:text="${ticket.getDepartureStation}"></td>
                <td th:text="${ticket.getArrivalStation}"></td>
                <td th:text="${ticket.getPrice}"></td>
                <td th:text="${ticket.getPriceOfGroundCard}"></td>
                <td th:text="${ticket.isUsed}"></td>
                <td><a th:href="@{/sale/{id}(id=${ticket.getId})}"
                       class="btn3">Продажа</a></td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>